{{ $dateFormatBr := "02 January 2006" }}

<ul class="post-list">
    {{ range .Site.RegularPages.ByPublishDate.Reverse | first 6 }}
    <div class="post-list-option" onclick="window.location.href='{{ .RelPermalink }}'">
        <li class="post-list-title">{{ .Title }}</li>
        <p style="transform: translateY(1px);" class="post-list-date">{{ .PublishDate.Format $dateFormatBr }}</p>
    </div>
    {{ end }}
    <div class="post-list-option post-list-all-posts" onclick="window.location.href='/posts/'">
        <li class="post-list-title">Ver todas as postagens</li>
    </div>
</ul>
