{{ define "main" }}
<div class="main-group">
    <div class="menu">
        <h1 class="menu-title">anthhon.log<span>_</span></h1>
        <nav class="menu-options">
            <a class="menu-option-selected" onclick="switchMenuOption(this)">Postagens</a>
            <a class="menu-option" onclick="switchMenuOption(this)">Descompilando</a>
            <a class="menu-option" onclick="switchMenuOption(this)">Sobre mim</a>
        </nav>
    </div>

    <div class="main-bar"></div>

    <div class="sections">
        <section class="section-group" id="section1">
            <div>
                <h4>.postagens</h4>
                <p class="post-desc">lista de postagens recentes</p>
            </div>
            <div>
                {{- partial "listposts.html" . -}}
            </div>
        </section>

        <section class="section-group hidden" id="section2">
            <div>
                <h4>.descompilando</h4>
                <p class="post-desc">meu livro sobre programação em C</p>
            </div>
            <div>
                <p>
                {{ with .Site.GetPage "descompilando.md" }}
                {{- .Content -}}
                {{ end }}
                </p>
            </div>
        </section>

        <section class="section-group hidden" id="section3">
            <div>
                <h4>.sobre_mim</h4>
                <p class="post-desc">Mais informações sobre quem sou eu</p>
            </div>
            <div>
                {{ with .Site.GetPage "about-me.md" }}
                {{- .Content -}}
                {{ end }}
            </div>
        </section>
    </div>
</div>
{{ end }}
